In [4]:
import numpy as np
import pandas as pd
%precision %.2f

'%.2f'

In [9]:
#### create test multidimensional array of length A, B, C, and D for the first, second, third, and fourth dimensions
A = 5 #The 1st dimension
B = 2 #The 2nd dimension
C = 2 #The 3rd dimension
D = 3 #The 1st dimension

In [17]:
##capital latin letters are vectors and small letters are the components
##the Order of the THETA array is a, b, c, and d
##the Order of the associated nest for loop of THETA must also be a, b, c d
##The associated nested for loop is constructed or defined to iterate completely through every element of the array
THETA = []
for a in range(A):                      # a
    E = []
    for b in range(B):                  # b
        F = [] 
        for c in range(C):              # c
            G = []
            for d in range(D):          # d
                if   d == 0 % D:
                    H = True
                elif d == 1 % D:
                    H = False
                elif d == 2 % D:
                    H = None
                G.append(HA)
            F.append(G)
        E.append(F)
    THETA.append(E)

In [18]:
pd.DataFrame(THETA)

,0,1
0,"[[True, False, None], [True, False, None]]","[[True, False, None], [True, False, None]]"
1,"[[True, False, None], [True, False, None]]","[[True, False, None], [True, False, None]]"
2,"[[True, False, None], [True, False, None]]","[[True, False, None], [True, False, None]]"
3,"[[True, False, None], [True, False, None]]","[[True, False, None], [True, False, None]]"
4,"[[True, False, None], [True, False, None]]","[[True, False, None], [True, False, None]]"

In [19]:
THETA

[[[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]]]

In [20]:
# for a in range(A):
#     print(THETA[a])
#     if a % 2 == 1:
#         THETA[a] = [[[1, 3.14, None], [2, 0.70, False]],
#                     [[True, False, None], [True, False, None]]]
#     a+=1

In [21]:
#### Here the array THETA is defined to have 4 dimensions labelled a, b, c, and d in exactly that order
THETA

[[[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]]]

In [23]:
#PHI is the "transetted" matrix defined to have 4 dimensions labelled i, j, k, and l in that order
#the order of the for loop is therefore I, J, K, L

I = A ##  I = 5
J = B ##  J = 2
K = D ##  K = 3
L = C ##  L = 2


##The desired output matrix PHI is required to have swapped the 3rd and 4th dimension hence K = D and L = C, therefore the order of the associated for loop 
## relative to theta is  a, b, d, and c

PHI = []  ## this is the input array

for i in range(A):                      # a 
    M = []
    for j in range(B):                  # b
        N = [] 
        for k in range(D):              # d
            O = []
            for l in range(C):          # c   
                P = THETA[i][j][l][k]   ## the input array always goes here
                O.append(P)
            N.append(O)
        M.append(N)
    PHI.append(M)

In [24]:
PHI

[[[[True, True], [False, False], [None, None]],
  [[True, True], [False, False], [None, None]]],
 [[[True, True], [False, False], [None, None]],
  [[True, True], [False, False], [None, None]]],
 [[[True, True], [False, False], [None, None]],
  [[True, True], [False, False], [None, None]]],
 [[[True, True], [False, False], [None, None]],
  [[True, True], [False, False], [None, None]]],
 [[[True, True], [False, False], [None, None]],
  [[True, True], [False, False], [None, None]]]]

In [25]:
THETA

[[[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]],
 [[[True, False, None], [True, False, None]],
  [[True, False, None], [True, False, None]]]]

In [26]:
###its hard to imagine but what happened was 2 dimensions got transposed just as what the Order for PHI and THETA were defined to be relative to each other

In [30]:
Q = D
R = B
S = C
T = A

GAMMA = [] ##input array
for q in range(D):                      # a 
    M = []
    for r in range(B):                  # b
        N = [] 
        for s in range(C):              # d
            O = []
            for t in range(A):          # c   
                P = THETA[t][r][s][q]   ## the input array always goes here
                O.append(P)
            N.append(O)
        M.append(N)
    GAMMA.append(M)

In [31]:
GAMMA

[[[[True, True, True, True, True], [True, True, True, True, True]],
  [[True, True, True, True, True], [True, True, True, True, True]]],
 [[[False, False, False, False, False], [False, False, False, False, False]],
  [[False, False, False, False, False], [False, False, False, False, False]]],
 [[[None, None, None, None, None], [None, None, None, None, None]],
  [[None, None, None, None, None], [None, None, None, None, None]]]]